body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #0A4049;
    margin-bottom: 10px;
}

.cart-summary, .checkout-form {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-style: ridge;
    border-width: 4px;
    border-color: #E09453;
    height: fit-content;
}
.checkout-form {
    margin-top: 20px ; 
    margin-bottom: 50vh;

}
.container-between-header-footer{
background-color: white;
  align-items: center;
  padding: 30px 10% 30px 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cart-summary {
    margin: 20px auto; 
    border-style: ridge;
    border-width: 4px;
    border-color: #E09453;
    
}

.cart-item, .total {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.buy-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    height: 30px;
    color: white;
    font-size: 16px;
    background-color: #0a4049;
    margin-bottom: 5px;
    cursor: pointer;
}

.buy-button:hover {
  background-color: #216974;
}
