body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    margin-top: 60px;
    margin-bottom: 100vh;
    border-style: ridge;
    border-width: 4px;
    border-color: #E09453;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 20px;
  height: fit-content;
  width: fit-content;
}


.cart-summary h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0A4049;
}

.checkout-form {
    text-align: center;
    margin-bottom: 20px;

}

.order-details p {
    margin: 5px 0;
}

.product-details ul {
    list-style: none;
    padding: 0;
}

.product-details li {
    margin-bottom: 5px;
}

